h1, h2, h3, h5, p, a, span, label {
    font-family: "Work Sans", serif;
}

.btn-send {
    font-family: "Work Sans", serif;
    border-radius: 10px;
    background: #7c9978;
    color: white;
    
}

.btn-send:hover {
    background: #5f765c;
    color: white;
    
}

#contact {
    background-color: rgb(232, 225, 216);
}

.bg-footer {
    background-color: rgb(232, 225, 216);
}

hr {
    max-width: 1200px;
}

.nav-link:hover,
.dropdown-item:hover {
    color: #7c9978 !important;
}